# local package
-e .

# external requirements
# easyocr
awscli
click==7.1.2
coverage==3.7.1
flake8==3.8.4
Keras==2.10
opencv-python
pytesseract==0.3.7
python-dotenv
pyngrok
seaborn==0.11.0
Sphinx==1.8.5
scikit-learn
streamlit==0.74
tensorflow==2.10
