# local package
-e .

# external requirements
click
seaborn
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
pyngrok
pytesseract

alabaster==0.7.12
altair==4.1.0
argon2-cffi==20.1.0
astor==0.8.1
attrs==19.3.0
awscli==1.18.119
Babel==2.8.0
backcall==0.2.0
base58==2.0.1
bleach==3.1.5
blinker==1.4
boto3==1.14.42
botocore==1.17.42
cachetools==4.1.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conda==4.8.3
conda-package-handling==1.7.0
coverage==5.2.1
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
easyocr
entrypoints==0.3
enum-compat==0.0.3
flake8==3.8.3
future==0.18.2
h5py==2.10.0
idna==2.9
imagesize==1.2.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab==2.2.2
jupyterlab-server==1.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-resnet==0.2.0
keras-retinanet==0.5.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.1
numpy==1.19.1
opencv-python==4.4.0.40
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.9.0
progressbar2==3.51.4
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.12.4
ptyprocess==0.6.0
pyarrow==1.0.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pydeck==0.4.1
pyflakes==2.2.0
Pygments==2.6.1
pyngrok==4.1.9
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytesseract==0.3.5
python-dateutil==2.8.1
python-dotenv==0.14.0
python-utils==2.4.0
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.23.0
retrying==1.3.3
rsa==4.5
ruamel-yaml==0.15.87
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==3.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
-e git+https://github.com/udaylunawat/Automatic-License-Plate-Recognition.git@638123c0e387591c31dff7519378fe3977bed86d#egg=src
streamlit==0.65.1
tensorflow==2.2
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
tzlocal==2.1
urllib3==1.25.8
validators==0.17.1
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
